    @charset "utf-8";
    .eyecatch {
        text-align: center;
    }
    
    .eyecatch img {
        width: 30%;
        height: 50%;
    }
    
    .main {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .title {
        text-align: center;
        font-size: 80px;
        margin: 30px 0px 30px 0px;
        padding: 30px 0px;
    }
    
    .description {
        width: 100%;
        max-width: 924px;
        margin: 0 auto;
        font-size: 28px;
    }
    
    .about {
        display: flex;
    }
    
    .castle img {
        width: 75%;
        margin: 100px 0 50px 0;
    }
    
    .event {
        text-align: left;
        padding: 160px 0 50px 0;
        font-size: 26px;
        font-weight: bold;
    }
    
    .members-introduction h2 {
        font-size: 60px;
        text-align: center;
        margin: 40px;
    }
    
    .members {
        display: flex;
        justify-content: space-around;
        font-size: 40px;
        text-align: center;
    }
    
    .members-item p {
        margin: 10px;
    }
    
    .members-item img {
        width: 80%;
    }
    
    .form {
        text-align: center;
        font-size: 50px;
        margin: 50px;
    }
    
    .box13 {
        justify-content: center;
        padding: 0.5em 1em;
        margin: 0 auto;
        color: #FFF;
        background: #6eb7ff;
        border-bottom: solid 6px #3f87ce;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        width: 50%;
    }
    
    .box13 a {
        text-decoration: none;
        color: white;
    }